<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link th:href="@{/css/init.css}" rel="stylesheet" />
</head>
<header>
    <div class="header-text">
        Middle-earth guide
    </div>
</header>
<body>
<div class="wrapper">
    <div class="graph-picture" id="graph-picture"></div>
    <form action="#" th:action="@{/route}" th:object="${form}" method="post">
        <label>Из:</label>
        <select class="form-control" id="firstLocation" name="firstLocation">
            <option th:each="location : ${locations}"
                    th:value="${location.id}"
                    th:text="${location.name}">
            </option>
        </select>
        <label>В:</label>
        <select class="form-control" id="secondLocation" name="secondLocation">
            <option th:each="location : ${locations}"
                    th:value="${location.id}"
                    th:text="${location.name}">
            </option>
        </select>
        <label>Раса:</label>
        <select class="form-control" id="race" name="race">
            <option th:each="race : ${races}"
                    th:value="${race.id}"
                    th:text="${race.name}">
            </option>
        </select>
        <button type="submit">Подтвердить</button>
    </form>
</div>
</body>
</html>